Repository pyladies-brazil/br-pyladies-pelican, pull requests merged in 2020-11, with the labels that each got.

#408 fix: atualiza versão das bibliotecas
  content/2014-4-02-primeiro-encontro.md
  content/2014-9-19-pyladies-recife.md
  content/2015-01-22-hangouts-pyladies.md
  content/2015-03-26-pyladies-recife-dojo.md
  content/2015-05-16-comunidade-com-C-maiusculo.md
  content/2015-3-11-cpbr8.md
  content/2016-08-23-cpbr5-recife.md
  content/2016-09-08-campanha-pyladies-na-python-brasil.md
  content/2017-08-30-campanha-pyladies-no-pybr-13-reta-final.md
  content/2017-09-09-top-100-artigos-sobre-python-no-medium.md
  content/2017-10-07-publieditorial-labcodes.md
  content/2017-10-08-publieditorial-trans-code.md
  content/2017-10-14-publieditorial-avelino.md
  content/2019-01-03-publieditorial-vinta.md
  content/2019-12-06-obrigada-lorena.md
  content/2020-01-05-obrigada-vinta.md
  content/2020-02-09-a-campanha-esta-no-ar.md
  content/2020-05-05-papo-entre-pyladies.md
  content/2020-08-28-reflexoes-papo-entre-pyladies.md
  content/2020-09-28-dicas-de-python-importando-modulos-no-python.md
  content/2020-10-01-hacktoberfest-2020.md
  requirements.txt
Labels: enhancement (melhoria)

#403 Reorganiza documentação
  CONTRIBUTING.md
  README.md
  content/images/contributing/assign_yourself.png
  content/images/contributing/labels.png
  content/images/contributing/reviewers.png
  content/images/contributing/search_assignees.png
  content/pages/about.md
Labels: documentation

#421 Novo blog post
  content/2020-11-08-uma-historia-sobre-genero.md
Labels: content (conteúdo)

#426 Adiciona o post mulheres que impactaram a PyBr2020
  content/2020-11-15-xray-mulheres-que-impactaram-a-python-brasil-2020.md
  content/images/xray-mulheres-pybr/beyonce-car.gif
  content/images/xray-mulheres-pybr/carolina.jpeg
  content/images/xray-mulheres-pybr/cover-xray-mulheres-pybr2020.png
  content/images/xray-mulheres-pybr/dandara.jpeg
  content/images/xray-mulheres-pybr/ingrid.jpg
  content/images/xray-mulheres-pybr/riri-queen.gif
Labels: content (conteúdo)
